
      <!-- Navbar-->
<header class="header">
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
              <a class="navbar-brand py-1" href="index_user.html">
                  <img src="styles/img/logo/logo.svg" alt="Directory logo">
              </a>
          </div>
            
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
            
          <!-- Navbar Collapse -->
            
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link"  href="index_user.html" >
                   الصفحه الرئيسية</a>
              </li>
                
              <!-- Megamenu-->
                
              <li class="nav-item ">
                  <a class="nav-link " href="search_user_t.html" >المفقودين</a>
              </li>

              <li class="nav-item dropdown ml-lg-3 text-right">
                  <a id="userDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="avatar avatar-sm avatar-border-white mr-2" src="styles/img/avatar/avatar-8.jpg" alt="">
                  </a>
                <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="userDropdownMenuLink">
                    <a class="dropdown-item text-right" href="user-personal.html">معلومات شخصية
</a>
                    
                    
                  <div class="dropdown-divider text-right">
                    </div>
                    <a class="dropdown-item text-right" href="index.html">
                        <i class="fas fa-sign-out-alt mr-2 text-right"></i>تسجيل الخروج</a>
                </div>
              </li>
                
              
            </ul>
          </div>
        </div>
      </nav>
    </header>
    